.header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  height: 80px;
  align-items: center;
  box-shadow: 0px 0px 5px 0px #ccc;
  .menu {
    display: flex;
    list-style: none;
    li {
      padding: 0 12px;
    }
  }
}